{% extends "base.html.twig" %}

{% block title %}FAQ{% endblock %}
{% block body %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">FAQ</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">questions fréquemment posées </p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="{{ asset('images/produit/3.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy" width="700" height="500">
      </div>
    </div>
  </div>
<div class="container p-5 my-4">
    <div class="mb-3">
        <h3>Quels sont les matériaux utilisés dans la fabrication de vos polos ?</h3>
        <p>Nous utilisons des matériaux de haute qualité tels que le coton piqué, le jersey de coton et des mélanges de fibres soigneusement sélectionnés pour garantir un confort optimal et une durabilité exceptionnelle de nos polos.</p>
    </div>
    <div>
        <h3>Comment puis-je choisir la bonne taille de polo ?</h3>
        <p>Nous recommandons de vous référer à notre guide des tailles disponible sur notre site web. Mesurez vos mensurations et comparez-les aux tableaux pour trouver la taille qui vous convient le mieux. En cas de doute, n'hésitez pas à contacter notre service client pour obtenir des conseils supplémentaires.</p>
    </div>
    <div>
        <h3>Quelle est la politique de retour de votre marque de polo ?</h3>
        <p>Nous offrons une politique de retour flexible. Si vous n'êtes pas entièrement satisfait de votre achat, vous pouvez nous le retourner dans les 30 jours suivant la réception pour un remboursement ou un échange. Veuillez consulter notre page de politique de retour pour plus de détails.</p>
    </div>
    <div>
        <h3>Vos polos sont-ils adaptés à un usage professionnel ?</h3>
        <p> Absolument ! Nos polos sont conçus pour allier élégance et confort, ce qui les rend parfaits pour un usage professionnel. Ils sont polyvalents et peuvent être facilement intégrés à votre garde-robe professionnelle tout en vous offrant un look raffiné et professionnel.</p>
    </div>
    <div>
        <h3> Comment puis-je prendre soin de mes polos ?</h3>
        <p>Nous vous recommandons de suivre les instructions de lavage et d'entretien indiquées sur l'étiquette de chaque polo. En général, il est préférable de les laver à l'envers, à l'eau froide, et de les sécher à plat pour préserver leur forme et leurs couleurs. Évitez également l'utilisation d'agents blanchissants agressifs.</p>
    </div>
    <div>
        <h3> Quelles sont les valeurs de votre marque de polo ?</h3>
        <p>Chez MYSHOP, nos valeurs fondamentales sont la qualité exceptionnelle, le style intemporel et la responsabilité sociale et environnementale. Nous nous efforçons de créer des polos de la plus haute qualité, au style intemporel, tout en adoptant des pratiques durables et éthiques.</p>
    </div>
    <div class="mb-3">
        <h3>Où sont fabriqués vos polos ?</h3>
        <p>Nos polos sont fabriqués dans des installations soigneusement sélectionnées, en veillant à ce qu'elles respectent nos normes de qualité et d'éthique. Nous travaillons en étroite collaboration avec des partenaires de fabrication de confiance pour garantir la qualité et la durabilité de nos produits.</p>
    </div>
</div>


{% endblock %}